@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;

  --color-blue-950: rgba(36, 42, 69);
  --color-blue-950-50pc: rgba(36, 42, 69, 0.5);
  --color-blue-950-75pc: rgba(36, 42, 69, 0.75);
  --color-blue-950-95pc: rgba(36, 42, 69, 0.95);
  --color-blue-600: rgba(82, 103, 223);
  --color-grey-600: rgba(91, 96, 116);
  --color-grey-600-75pc: rgba(91, 96, 116, 0.75);
  --color-grey-50: rgba(247, 247, 247);
  --color-red-400: rgba(250, 89, 89);
  --color-faint-blue: rgba(73, 93, 207, 0.2);

  --shadow-submit: 0 8px 8px -4px --color-faint-blue;
  --shadow-card: 0 10px 20px -5px rgba(73, 93, 207, 0.2);

  --breakpoint-ssm: 30rem;

  --custom-min: min(60%, 28rem);
}

@utility sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Header Menu */
.primary-navigation {
  @apply h-24 flex justify-between items-center;
}

.logo-header {
  @apply relative md:static z-1500 fill-blue-950 group-has-[div[data-visible='true']]:fill-white
}

.mobile-nav-toggle {
  @apply md:hidden relative z-2000 bg-[url(../images/icon-hamburger.svg)] group-has-[div[data-visible='true']]:bg-[url(../images/icon-close.svg)] bg-center bg-no-repeat w-[1.125rem] aspect-square;
}

.menu-container {
  @apply fixed md:static z-1000 inset-0 md:inset-auto pt-26 md:pt-0 pb-12 md:pb-0 transform-[translateX(100%)] data-[visible='true']:transform-[translateX(0%)] md:transform-[translateX(0%)] transition-transform bg-blue-950-95pc md:bg-transparent flex flex-col md:block justify-between text-[1.25rem] md:text-[.875rem] leading-tight md:leading-[1] text-white md:text-blue-950 uppercase md:grow-0 md:shrink md:basis-(--custom-min);
}

.primary-menu {
  @apply md:flex md:justify-between md:items-center;
}

.primary-menu li {
  @apply block pt-6 md:pt-0 pb-6 md:pb-0 border-t md:border-t-0 border-grey-600-75pc text-center;
}

.menu-container .social-media-list {
  @apply md:hidden
}

/* *********** */

/* Buttons */
.button-base {
  @apply text-white pt-2 pb-2 border-2 border-blue-600 rounded-md bg-blue-600;
}

.button-base:hover,
.button-base:focus,
.button-base:focus-visible {
  @apply text-blue-600 bg-white outline-0;
}

.button-variant {
  @apply text-blue-950-75pc border-grey-50 bg-grey-50;

}

.button-variant:hover,
.button-variant:focus,
.button-variant:focus-visible {
  @apply text-grey-600-75pc bg-white border-grey-600 outline-0;
}

.button-base:has(class^="flex") {
  @apply pl-1 pr-1;
}

.button-login {
  @apply border-white md:border-red-400 bg-transparent md:bg-red-400 block text-[1.25rem] leading-tight md:text-[.875rem] md:leading-[1] font-medium md:font-normal md:px-8 md:py-2;
}

[type="submit"] {
  @apply bg-red-400 border-red-400 shadow-submit;
}

[type="submit"]:hover,
[type="submit"]:focus,
[type="submit"]:focus-visible,
.button-login:hover,
.button-login:focus,
.button-login:focus-visible {
  @apply text-red-400 outline-0;
}

/* ********* */

/* Tabs */
.tab {
  @apply block w-full m-auto h-14 border-b border-faint-blue;
}

.tab:first-child {
  @apply border-t ssm:border-t-0;
}

.tab[aria-selected="false"]:hover,
.tab:focus,
.tab:focus-visible {
  @apply text-red-400 outline-0;
}

.tab[aria-selected="true"] {
  @apply underline underline-offset-17 decoration-4 decoration-red-400;
}

/* ******** */

/* Image with round blue bg */
.img-bg {
  @apply relative sm:max-w-[36.125rem] sm:mx-auto;

}

.img-bg-right {
  @apply sm:ml-auto sm:mr-0 sm:max-w-[33.5rem];
}

.bg-of-img {
  @apply absolute top-[16%] left-[10%] object-top-left h-full object-cover max-w-min sm:top-auto sm:bottom-[-10%] sm:max-h-[21.875rem];

}

.img-with-bg {
  @apply relative w-full;

}

.img-bg-right .bg-of-img {
  @apply left-auto right-[10%] sm:right-[16%] object-top-right;

}


/* *********** */